/* Container */
/* oswald-regular - latin */
@font-face {
	font-family: "Oswald";
	font-style: normal;
	font-weight: 400;
	src: local("Oswald Regular"), local("Oswald-Regular"),
		url("fonts/oswald-v17-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url("fonts/oswald-v17-latin-regular.woff") format("woff");
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
	box-sizing: border-box;
	background: transparent;
}

body {
	font-size: 16px;
	margin: 0;
	padding: 0;
	/* font-family: "Oswald", sans-serif; */
}

/* Layout */
.card {
	margin: 0;
	box-sizing: border-box;
	max-width: 1000px;
	height: 1000px;
	background: #E55538;
	position: relative;
	overflow: hidden;
}

.content-wrapper {}

.content-header {
	background: #E55538;
	display: flex;
	height: 200px;
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	padding: 0 2em;
	justify-content: flex-start;
	align-items: center;
}

.logo {
	max-width: 200px;
}

.question-title {
	max-width: 660px;
	display: block;
	width: 100%;
	margin-left: 55px;
}

.content-image {
	top: 200px;
	height: 600px;
	position: absolute;
	left: 0;
	width: 100%;
	background-size: cover;
	background-position: center center;
	z-index: 0;
}

.content-footer {
	background: #E55538;
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	z-index: 1;
}

.question {
	display: flex;
	min-height: 200px;
	padding: 1em 1em 1.5em;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.question h2 {
	font-family: "Oswald", sans-serif;
	color: #FFFFFF;
	font-size: 56px;
	font-weight: normal;
	line-height: 1.25em;
	margin: 0;
	padding: 0;
}
