/* Container */
html {
	box-sizing: border-box;
	background: transparent;
}

body {
	/*background: #000;*/
	font-size: 16px;
	margin: 0;
	padding: 0;
}

/* Layout */

.card {
	margin: 0;
	box-sizing: border-box;
	max-width: 1000px;
	height: 1000px;
	background: #E55538;
	position: relative;
	/* outline: 1px solid #000; */
	overflow: hidden;
}

.content-wrapper {
	/* position: absolute;
	right: 0;
	width: 478px;
	height: 450px;
	background: #ffffff;
	top: 0; */
}


.content-wrapper {

}

.content-header{
	background: #E55538;
	display: flex;
	height: 200px;
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	padding: 0 2em;
	justify-content: flex-start;
	align-items: center;
}

.logo {
	max-width: 217px;
	/* max-height: 200px; */
}

.question-title {
		max-width: 660px;
		display: block;
		width: 100%;
		margin-left: 60px;
}

.content-image{
	background: #626262;
	margin-top: 200px;
}

.content-footer{
	background: #E55538;
	height: 200px;
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
}

.question {

	display: flex;
	height: 200px;
	padding: 0 2em;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.question h2 {
	font-family: 'Oswald', sans-serif;
	color: #FFFFFF;
	font-size: 36px;
	font-weight: normal;
}
