html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #004866;
	/* color: white; */
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.title-wrapper {
	margin: 100px 0 1em;
	color: white;
}

.title-wrapper h1 {
	line-height: normal;
	margin-bottom: 0;
}

.title-wrapper small {
	text-align: center;
	font-size: 10px;
	opacity: 0.5;
	font-style: italic;
}

/* Canvas */

/* #canvas {
	display: none;
} */


/* Form */

form {
	display: block;
	width: 1000px;
	margin: 2em auto;
}

form label, form input, form textarea {
	display: block;
	width: 100%;
	margin: 0 0 1em;
	padding: 5px;
	text-align: left;
}

form label {
	margin-bottom: 0;
	color: white;
}


/* Preview */

#cardDisplay {
	width: 1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}


/* Download */

.download-wrapper {
	width: 1000px;
	margin: 0 auto 100px;
	text-align: left;
}

.download-wrapper .button {
	margin-top: 20px;
	display: block;
	text-align: center;
}

.button {
	padding: 1em 2em;
	display: inline-block;
	background: #E55538;
	color: #ffffff;
	transition: background 0.2s ease-out;
	cursor: pointer;
}

.button:hover {
	background: #6C6C6C;
}

.btn {
	display: block;
	max-width: 300px;
	padding: 1em 0;
	margin: 0 auto 2em;
	background: #E55538;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	transition: background 0.2s ease-out;
}

.btn:hover {
	background: #6C6C6C;
}

.lightbox {
	position: fixed;
	background: rgba(0, 0, 0, 0.85);
	z-index: 99;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	color: white;
}

.lightbox.disabled {
	display: none;
}

.lightbox button {
	position: absolute;
	right: -20px;
	top: -20px;
	width: 40px;
	background: white;
	color: black;
	z-index: 100;
	display: block;
	text-align: center;
	line-height: 40px;
	height: 40px;
	border-radius: 40px;
}

.lightbox .image-wrapper {
	position: absolute;
  left: 50%;
  top: 50%;
	transform: translate(-50%, -50%);
	max-width: 500px;
	max-height: 500px;
}

.lightbox .image-wrapper img {
	display: block;
	max-width: 100%;
}
