html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #004866;
	/* color: white; */
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.title-wrapper {
	margin-top: 100px;
	color: white;
}

/* Canvas */

#canvas {
	display: none;
}


/* Form */

form {
	display: block;
	width: 1000px;
	margin: 2em auto;
}

form label, form input, form textarea {
	display: block;
	width: 100%;
	margin: 0 0 1em;
	padding: 5px;
	text-align: left;
}

form label {
	margin-bottom: 0;
	color: white;
}


/* Preview */

#card-display {
	width: 1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}


/* Download */

.download-wrapper {
	width: 1000px;
	margin: 0 auto 100px;
	text-align: left;
}

.download-wrapper .button {
	margin-top: 20px;
	display: block;
	text-align: center;
}

.button {
	padding: 1em 2em;
	display: inline-block;
	background: #E55538;
	color: #ffffff;
	transition: background 0.2s ease-out;
	cursor: pointer;
}

.button:hover {
	background: #6C6C6C;
}

.btn {
	display: block;
	max-width: 300px;
	padding: 1em 0;
	margin: 0 auto 2em;
	background: #E55538;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	transition: background 0.2s ease-out;
}

.btn:hover {
	background: #6C6C6C;
}
