html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: rgba(69, 128, 195, 0.25);
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-align: center;
}

body.red {
	background: rgba(231, 65, 65, 0.1);
}


/* Canvas */

#canvas {
	display: none;
}


/* Form */

form {
	display: block;
	width: 800px;
	margin: 2em 0;
}

form label, form input, form textarea {
	display: block;
	width: 100%;
	margin: 0 0 1em;
	padding: 5px;
	text-align: left;
}

form label {
	margin-bottom: 0;
}


/* Preview */

#card-display {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}


/* Download */

.download-wrapper {
	width: 800px;
	margin: 0 auto;
	text-align: left;
}

.button {
	padding: 1em 2em;
	display: inline-block;
	background: #e74141;
	color: #ffffff;
	transition: background 0.2s ease-out;
	cursor: pointer;
}

.button:hover {
	background: #4580c3;
}

.btn {
	display: block;
	max-width: 300px;
	padding: 1em 0;
	margin: 0 auto 2em;
	background: #e74141;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	transition: background 0.2s ease-out;
}

.btn:hover {
	background: #4580c3;
}
