<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>QC Question of the Day Post Maker</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css">
		<link rel="stylesheet" href="css/page-style.css">
	</head>

	<body>
		<canvas id="canvas" width="1000" height="1000" style="border: none;"></canvas>
		<div class="title-wrapper">
			<h1>QC Question of the Day Post Maker</h1>
			<small>v0.1</small>
		</div>
		<div id="speaker-wrapper">
			<div id="card-display" class="">
				<link rel="stylesheet" href="css/card-style.css">
				<div class="card speaker">
					<div class="content-wrapper ">
						<div class="content-header">
							<img class="logo" src='images/logo.svg' />
							<img class="question-title" src='images/question.svg' />
						</div>
						<div class="content-image">
							<div class="photo">
								<img v-bind:src="image_url" alt="">
							</div>
						</div>
						<div class="content-footer">
							<div class="question">
								<h2>{{ question }}</h2>
							</div>
						</div>
					</div>
				</div>
				<!-- Form -->
				<form>
					<label>Question of the Day</label>
					<input type="text" v-model="question" placeholder="Lorem ipsum dolor sit amet.">
					<label>Image URL <em>(Image must be exactly 1000px wide by 600 px tall.)</em> </label>
					<input type="text" v-model="image_url" placeholder="http://placehold.it/1000x600.jpg">
				</form>
			</div>
		</div>
		<!-- Results-->
		<div class="download-wrapper">
			<a id="download" download="card.png" class="button">Generate Image</a>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/rasterizehtml/1.2.4/rasterizeHTML.allinone.js" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</body>

</html>
